ajax==3.0.0
anyio==4.9.0
asgiref==3.7.2
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.8.2
cachelib==0.13.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudinary==1.44.1
colorama==0.4.6
comtypes==1.4.8
crispy-tailwind==0.5.0
cryptography==42.0.5
customtkinter==5.2.1
darkdetect==0.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.9
Django==5.0.2
django-allauth==0.61.1
django-appconf==1.0.6
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-crispy-forms==2.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
filelock==3.16.1
Flask==3.0.3
Flask-Session==0.8.0
Flask-SocketIO==4.3.1
future==0.18.3
geocoder==1.38.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.4
itsdangerous==2.2.0
Jinja2==3.1.4
JsonForm==0.0.2
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
JsonSir==0.0.2
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
msgspec==0.19.0
numpy==1.26.2
oauthlib==3.2.2
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.3.1
pillow==10.2.0
platformdirs==4.3.6
psycopg==3.1.17
psycopg2==2.9.9
pyaes==1.6.1
pyasn1==0.6.1
pycparser==2.22
pydub==0.25.1
pygame==2.6.1
Pygments==2.19.2
PyJWT==2.8.0
pyperclip==1.8.2
pypiwin32==223
Pyrogram==2.0.106
PySocks==1.7.1
pyTelegramBotAPI==4.26.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
Python-EasyConfig==0.1.7
python-engineio==3.13.2
python-socketio==4.6.0
python-telegram-bot==22.2
python3-openid==3.2.0
pyttsx3==2.98
pytz==2025.2
pywin32==306
PyYAML==6.0.2
ratelim==0.1.6
referencing==0.36.2
requests==2.31.0
requests-oauthlib==2.0.0
Resource==0.2.1
rich==14.1.0
rpds-py==0.25.1
rsa==4.9.1
selenium==4.27.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.12.0
sqlparse==0.4.4
telegram==0.0.1
Telethon==1.40.0
tk==0.1.0
tkintermapview==1.29
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.1.0
virtualenv==20.26.6
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.0.4
wsproto==1.2.0
